div.outerBorder1{
    border-color: red;
    border-width: 2px;
    border-style: solid;
    position: relative;    
}
div.outerBorder2{
    border-color: orange;
    border-width: 2px;
    border-style: solid;
    position: relative;    
}
div.outerBorder3{
    border-color: yellow;
    border-width: 2px;
    border-style: solid;
    position: relative;    
}
div.outerBorder4{
    border-color: green;
    border-width: 2px;
    border-style: solid;
    position: relative;    
}
div.outerBorder5{
    border-color: blue;
    border-width: 2px;
    border-style: solid;
    position: relative;    
}
div.outerBorder{
    background-color: green;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    position: relative;    
    height: 539px;
    width: 1223px;
}
    .outerBorder div{
        display:inline-block;
    }
    .outerBorder div.leftpenaltybox{
        margin-right: 0;
    }

div.innerBorder1{
    background-color: green;
    background-size: cover;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    height: 535px;
    width: 608px;
    position: absolute;
}
div.innerBorder2{
    background-color: green;
    background-size: cover;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    height: 535px;
    width: 608px;
    margin-right: 0;
    right: 0;
    position: absolute;
}
div.leftsemicircle1{
    background-color: green;
    background-size: cover;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 150px 0 0 150px;
    height: 125px;
    width: 62.5px;
    transform: translate(-50%, 0%);
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    position: absolute;
    
}
div.rightsemicircle1{
    background-color: green;
    background-size: cover;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 0 150px 150px 0;
    height: 125px;
    width: 62.5px;
    transform: translate(50%, 0%);
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    position: absolute;   
}
div.leftsemicircle2{
    background-color: white;
    background-size: cover;
    border-color: white;
    border-width: 5px;
    border-style: solid;
    border-radius: 150px 0 0 150px;
    height: 8px;
    width: 1px;
    transform: translate(-50%, 0%);
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    position: absolute;
    
}

div.rightsemicircle2{
    background-color: white;
    background-size: cover;
    border-color: white;
    border-width: 5px;
    border-style: solid;
    border-radius: 0 150px 150px 0;
    transform: translate(50%, 0%);
    height: 8px;
    width: 1px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    position: absolute;   
}

div.leftpenaltybox{
    background-color: green;
    background-size: cover;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    left: 0;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    height: 50vh;
    width: 30vh;
    position: absolute;
}
div.leftpenaltyinnerbox{
    background-color: green;
    background-size: cover;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    left: 0;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    height: 25vh;
    width: 15vh;
    position: absolute;
}
div.rightpenaltybox{
    background-color: green;
    background-size: cover;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    height: 50vh;
    width: 30vh;
    position: absolute;
}
div.rightpenaltyinnerbox{
    background-color: green;
    background-size: cover;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    margin-right: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    height: 25vh;
    width: 15vh;
    position: absolute;
}